ECN/emarketing.showlead.com/Web References/scPushLeadsList/PushLeadsList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides Access to Push Leads list to ECN.&lt;br&gt;* Use setupGroup() to setup the Lists Group in ECN. &lt;br&gt;* Use pushLeadsToGroup() to Push Email lists in to the group that's Created.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx">
      <s:element name="setupGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setupGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setupGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pushLeadsToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="leadsListDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pushLeadsToGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pushLeadsToGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="setupGroupSoapIn">
    <wsdl:part name="parameters" element="tns:setupGroup" />
  </wsdl:message>
  <wsdl:message name="setupGroupSoapOut">
    <wsdl:part name="parameters" element="tns:setupGroupResponse" />
  </wsdl:message>
  <wsdl:message name="pushLeadsToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:pushLeadsToGroup" />
  </wsdl:message>
  <wsdl:message name="pushLeadsToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:pushLeadsToGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="PushLeadsListSoap">
    <wsdl:operation name="setupGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides Access to SetUp Groups (LeadsList) in ECN for Customer.&lt;br&gt;- Parameters passed are CustomerID &amp; ListName.&lt;br&gt;- If the List does not exist it will Create a new Group for the List. &lt;br&gt;- Returns Integer GroupID value.</wsdl:documentation>
      <wsdl:input message="tns:setupGroupSoapIn" />
      <wsdl:output message="tns:setupGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pushLeadsToGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides Access to Push Email Profiles in to Groups (LeadsList) in ECN for Customer. &lt;br&gt;- Parameters passed are CustomerID, GroupID, LeadsDataSet&lt;br&gt;- If an Email Profile does not exist it will Create a new Email Profile in the Group. If it exists it will Update the Profile with the current Data.&lt;br&gt;- Returns Integer total number of records processed (# of records Inserted + Updated) GroupID value.</wsdl:documentation>
      <wsdl:input message="tns:pushLeadsToGroupSoapIn" />
      <wsdl:output message="tns:pushLeadsToGroupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PushLeadsListSoap" type="tns:PushLeadsListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setupGroup">
      <soap:operation soapAction="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx/setupGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pushLeadsToGroup">
      <soap:operation soapAction="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx/pushLeadsToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PushLeadsListSoap12" type="tns:PushLeadsListSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setupGroup">
      <soap12:operation soapAction="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx/setupGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pushLeadsToGroup">
      <soap12:operation soapAction="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx/pushLeadsToGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushLeadsList">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Provides Access to Push Leads list to ECN.&lt;br&gt;* Use setupGroup() to setup the Lists Group in ECN. &lt;br&gt;* Use pushLeadsToGroup() to Push Email lists in to the group that's Created.</wsdl:documentation>
    <wsdl:port name="PushLeadsListSoap" binding="tns:PushLeadsListSoap">
      <soap:address location="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx" />
    </wsdl:port>
    <wsdl:port name="PushLeadsListSoap12" binding="tns:PushLeadsListSoap12">
      <soap12:address location="http://showcare.ecn5.com/ecn.showcare.webservice/KM/PushLeadsList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>