ECN/ecn.webservices.client/Web References/WATTAPI_LOCAL/WATTAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.ecn5.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservices.ecn5.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.ecn5.com/">
      <s:element name="GetTokenForSubscriber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="issueID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenForSubscriberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenForSubscriberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IssueID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssueURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextTokenForSubscriber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IssueID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextTokenForSubscriberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNextTokenForSubscriberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscriberExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IssueID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscriberExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscriberExistsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Profile" type="tns:CustomerData" />
            <s:element minOccurs="0" maxOccurs="1" name="hUDF" type="tns:ArrayOfArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EktronUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PubCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDay" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Occupation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="Income" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hUDF" type="tns:ArrayOfArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfAnyType" nillable="true" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Emailaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfileResult" type="tns:CustomerData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newUDF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUDFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUDFList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GroupDataField">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="GroupDataFieldsID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LongName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SurveyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataFieldSetID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IsPublic" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPrimaryKey" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGroupDataField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupDataField" nillable="true" type="tns:GroupDataField" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUDFListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUDFListResult" type="tns:ArrayOfGroupDataField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="CustomerData" nillable="true" type="tns:CustomerData" />
      <s:element name="ArrayOfGroupDataField" nillable="true" type="tns:ArrayOfGroupDataField" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTokenForSubscriberSoapIn">
    <wsdl:part name="parameters" element="tns:GetTokenForSubscriber" />
  </wsdl:message>
  <wsdl:message name="GetTokenForSubscriberSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenForSubscriberResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueURLSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssueURL" />
  </wsdl:message>
  <wsdl:message name="GetIssueURLSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssueURLResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextTokenForSubscriberSoapIn">
    <wsdl:part name="parameters" element="tns:GetNextTokenForSubscriber" />
  </wsdl:message>
  <wsdl:message name="GetNextTokenForSubscriberSoapOut">
    <wsdl:part name="parameters" element="tns:GetNextTokenForSubscriberResponse" />
  </wsdl:message>
  <wsdl:message name="SubscriberExistsSoapIn">
    <wsdl:part name="parameters" element="tns:SubscriberExists" />
  </wsdl:message>
  <wsdl:message name="SubscriberExistsSoapOut">
    <wsdl:part name="parameters" element="tns:SubscriberExistsResponse" />
  </wsdl:message>
  <wsdl:message name="AddProfileSoapIn">
    <wsdl:part name="parameters" element="tns:AddProfile" />
  </wsdl:message>
  <wsdl:message name="AddProfileSoapOut">
    <wsdl:part name="parameters" element="tns:AddProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="GetProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUDFSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUDF" />
  </wsdl:message>
  <wsdl:message name="CreateUDFSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUDFResponse" />
  </wsdl:message>
  <wsdl:message name="GetUDFListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUDFList" />
  </wsdl:message>
  <wsdl:message name="GetUDFListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUDFListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenForSubscriberHttpGetIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="GroupID" type="s:string" />
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="issueID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenForSubscriberHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIssueURLHttpGetIn">
    <wsdl:part name="accesskey" type="s:string" />
    <wsdl:part name="IssueID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIssueURLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetNextTokenForSubscriberHttpGetIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="IssueID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNextTokenForSubscriberHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubscriberExistsHttpGetIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="IssueID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubscriberExistsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetProfileHttpGetIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="Emailaddress" type="s:string" />
    <wsdl:part name="pubCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:CustomerData" />
  </wsdl:message>
  <wsdl:message name="CreateUDFHttpGetIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="pubcode" type="s:string" />
    <wsdl:part name="newUDF" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateUDFHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUDFListHttpGetIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="pubCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUDFListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfGroupDataField" />
  </wsdl:message>
  <wsdl:message name="GetTokenForSubscriberHttpPostIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="GroupID" type="s:string" />
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="issueID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenForSubscriberHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIssueURLHttpPostIn">
    <wsdl:part name="accesskey" type="s:string" />
    <wsdl:part name="IssueID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIssueURLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetNextTokenForSubscriberHttpPostIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="IssueID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNextTokenForSubscriberHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubscriberExistsHttpPostIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="Token" type="s:string" />
    <wsdl:part name="IssueID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubscriberExistsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetProfileHttpPostIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="Emailaddress" type="s:string" />
    <wsdl:part name="pubCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:CustomerData" />
  </wsdl:message>
  <wsdl:message name="CreateUDFHttpPostIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="pubcode" type="s:string" />
    <wsdl:part name="newUDF" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateUDFHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUDFListHttpPostIn">
    <wsdl:part name="accessKey" type="s:string" />
    <wsdl:part name="pubCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUDFListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfGroupDataField" />
  </wsdl:message>
  <wsdl:portType name="WATTAPISoap">
    <wsdl:operation name="GetTokenForSubscriber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return a token for the specified IssueID for the specified Email Address within the specified group</wsdl:documentation>
      <wsdl:input message="tns:GetTokenForSubscriberSoapIn" />
      <wsdl:output message="tns:GetTokenForSubscriberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return the URL for the specified Issue</wsdl:documentation>
      <wsdl:input message="tns:GetIssueURLSoapIn" />
      <wsdl:output message="tns:GetIssueURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextTokenForSubscriber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return the token for an issue the subscriber is trying to navigate to</wsdl:documentation>
      <wsdl:input message="tns:GetNextTokenForSubscriberSoapIn" />
      <wsdl:output message="tns:GetNextTokenForSubscriberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscriberExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return true/false based on whether a token exists for a specified Issue</wsdl:documentation>
      <wsdl:input message="tns:SubscriberExistsSoapIn" />
      <wsdl:output message="tns:SubscriberExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProfile">
      <wsdl:input message="tns:AddProfileSoapIn" />
      <wsdl:output message="tns:AddProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input message="tns:GetProfileSoapIn" />
      <wsdl:output message="tns:GetProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUDF">
      <wsdl:input message="tns:CreateUDFSoapIn" />
      <wsdl:output message="tns:CreateUDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUDFList">
      <wsdl:input message="tns:GetUDFListSoapIn" />
      <wsdl:output message="tns:GetUDFListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WATTAPIHttpGet">
    <wsdl:operation name="GetTokenForSubscriber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return a token for the specified IssueID for the specified Email Address within the specified group</wsdl:documentation>
      <wsdl:input message="tns:GetTokenForSubscriberHttpGetIn" />
      <wsdl:output message="tns:GetTokenForSubscriberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return the URL for the specified Issue</wsdl:documentation>
      <wsdl:input message="tns:GetIssueURLHttpGetIn" />
      <wsdl:output message="tns:GetIssueURLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextTokenForSubscriber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return the token for an issue the subscriber is trying to navigate to</wsdl:documentation>
      <wsdl:input message="tns:GetNextTokenForSubscriberHttpGetIn" />
      <wsdl:output message="tns:GetNextTokenForSubscriberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscriberExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return true/false based on whether a token exists for a specified Issue</wsdl:documentation>
      <wsdl:input message="tns:SubscriberExistsHttpGetIn" />
      <wsdl:output message="tns:SubscriberExistsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input message="tns:GetProfileHttpGetIn" />
      <wsdl:output message="tns:GetProfileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUDF">
      <wsdl:input message="tns:CreateUDFHttpGetIn" />
      <wsdl:output message="tns:CreateUDFHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUDFList">
      <wsdl:input message="tns:GetUDFListHttpGetIn" />
      <wsdl:output message="tns:GetUDFListHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WATTAPIHttpPost">
    <wsdl:operation name="GetTokenForSubscriber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return a token for the specified IssueID for the specified Email Address within the specified group</wsdl:documentation>
      <wsdl:input message="tns:GetTokenForSubscriberHttpPostIn" />
      <wsdl:output message="tns:GetTokenForSubscriberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return the URL for the specified Issue</wsdl:documentation>
      <wsdl:input message="tns:GetIssueURLHttpPostIn" />
      <wsdl:output message="tns:GetIssueURLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextTokenForSubscriber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return the token for an issue the subscriber is trying to navigate to</wsdl:documentation>
      <wsdl:input message="tns:GetNextTokenForSubscriberHttpPostIn" />
      <wsdl:output message="tns:GetNextTokenForSubscriberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubscriberExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Will return true/false based on whether a token exists for a specified Issue</wsdl:documentation>
      <wsdl:input message="tns:SubscriberExistsHttpPostIn" />
      <wsdl:output message="tns:SubscriberExistsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input message="tns:GetProfileHttpPostIn" />
      <wsdl:output message="tns:GetProfileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUDF">
      <wsdl:input message="tns:CreateUDFHttpPostIn" />
      <wsdl:output message="tns:CreateUDFHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUDFList">
      <wsdl:input message="tns:GetUDFListHttpPostIn" />
      <wsdl:output message="tns:GetUDFListHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WATTAPISoap" type="tns:WATTAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenForSubscriber">
      <soap:operation soapAction="http://webservices.ecn5.com/GetTokenForSubscriber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueURL">
      <soap:operation soapAction="http://webservices.ecn5.com/GetIssueURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextTokenForSubscriber">
      <soap:operation soapAction="http://webservices.ecn5.com/GetNextTokenForSubscriber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriberExists">
      <soap:operation soapAction="http://webservices.ecn5.com/SubscriberExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProfile">
      <soap:operation soapAction="http://webservices.ecn5.com/AddProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction="http://webservices.ecn5.com/GetProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUDF">
      <soap:operation soapAction="http://webservices.ecn5.com/CreateUDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUDFList">
      <soap:operation soapAction="http://webservices.ecn5.com/GetUDFList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WATTAPISoap12" type="tns:WATTAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenForSubscriber">
      <soap12:operation soapAction="http://webservices.ecn5.com/GetTokenForSubscriber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueURL">
      <soap12:operation soapAction="http://webservices.ecn5.com/GetIssueURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextTokenForSubscriber">
      <soap12:operation soapAction="http://webservices.ecn5.com/GetNextTokenForSubscriber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriberExists">
      <soap12:operation soapAction="http://webservices.ecn5.com/SubscriberExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProfile">
      <soap12:operation soapAction="http://webservices.ecn5.com/AddProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <soap12:operation soapAction="http://webservices.ecn5.com/GetProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUDF">
      <soap12:operation soapAction="http://webservices.ecn5.com/CreateUDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUDFList">
      <soap12:operation soapAction="http://webservices.ecn5.com/GetUDFList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WATTAPIHttpGet" type="tns:WATTAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetTokenForSubscriber">
      <http:operation location="/GetTokenForSubscriber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueURL">
      <http:operation location="/GetIssueURL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextTokenForSubscriber">
      <http:operation location="/GetNextTokenForSubscriber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriberExists">
      <http:operation location="/SubscriberExists" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <http:operation location="/GetProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUDF">
      <http:operation location="/CreateUDF" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUDFList">
      <http:operation location="/GetUDFList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WATTAPIHttpPost" type="tns:WATTAPIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetTokenForSubscriber">
      <http:operation location="/GetTokenForSubscriber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueURL">
      <http:operation location="/GetIssueURL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextTokenForSubscriber">
      <http:operation location="/GetNextTokenForSubscriber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscriberExists">
      <http:operation location="/SubscriberExists" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <http:operation location="/GetProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUDF">
      <http:operation location="/CreateUDF" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUDFList">
      <http:operation location="/GetUDFList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WATTAPI">
    <wsdl:port name="WATTAPISoap" binding="tns:WATTAPISoap">
      <soap:address location="http://localhost/ecn.webservice/CustomAPI/WATTAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="WATTAPISoap12" binding="tns:WATTAPISoap12">
      <soap12:address location="http://localhost/ecn.webservice/CustomAPI/WATTAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="WATTAPIHttpGet" binding="tns:WATTAPIHttpGet">
      <http:address location="http://localhost/ecn.webservice/CustomAPI/WATTAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="WATTAPIHttpPost" binding="tns:WATTAPIHttpPost">
      <http:address location="http://localhost/ecn.webservice/CustomAPI/WATTAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>