UAD/MAF.SourceMedia.SalesForce.Integration/Web References/SMSalesForceAPI/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerateLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeadXMLStringData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateLeadResponse">
        <s:complexType />
      </s:element>
      <s:element name="GenerateLeadAndGetSalesRepCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeadXMLStringData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateLeadAndGetSalesRepCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateLeadAndGetSalesRepCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateLeadSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateLead" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateLeadResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadAndGetSalesRepCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateLeadAndGetSalesRepCode" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadAndGetSalesRepCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateLeadAndGetSalesRepCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadHttpGetIn">
    <wsdl:part name="LeadXMLStringData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadHttpGetOut" />
  <wsdl:message name="GenerateLeadAndGetSalesRepCodeHttpGetIn">
    <wsdl:part name="LeadXMLStringData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadAndGetSalesRepCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadHttpPostIn">
    <wsdl:part name="LeadXMLStringData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadHttpPostOut" />
  <wsdl:message name="GenerateLeadAndGetSalesRepCodeHttpPostIn">
    <wsdl:part name="LeadXMLStringData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateLeadAndGetSalesRepCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GenerateLead">
      <wsdl:input message="tns:GenerateLeadSoapIn" />
      <wsdl:output message="tns:GenerateLeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadAndGetSalesRepCode">
      <wsdl:input message="tns:GenerateLeadAndGetSalesRepCodeSoapIn" />
      <wsdl:output message="tns:GenerateLeadAndGetSalesRepCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="GenerateLead">
      <wsdl:input message="tns:GenerateLeadHttpGetIn" />
      <wsdl:output message="tns:GenerateLeadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadAndGetSalesRepCode">
      <wsdl:input message="tns:GenerateLeadAndGetSalesRepCodeHttpGetIn" />
      <wsdl:output message="tns:GenerateLeadAndGetSalesRepCodeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="GenerateLead">
      <wsdl:input message="tns:GenerateLeadHttpPostIn" />
      <wsdl:output message="tns:GenerateLeadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadAndGetSalesRepCode">
      <wsdl:input message="tns:GenerateLeadAndGetSalesRepCodeHttpPostIn" />
      <wsdl:output message="tns:GenerateLeadAndGetSalesRepCodeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateLead">
      <soap:operation soapAction="http://tempuri.org/GenerateLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadAndGetSalesRepCode">
      <soap:operation soapAction="http://tempuri.org/GenerateLeadAndGetSalesRepCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateLead">
      <soap12:operation soapAction="http://tempuri.org/GenerateLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadAndGetSalesRepCode">
      <soap12:operation soapAction="http://tempuri.org/GenerateLeadAndGetSalesRepCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GenerateLead">
      <http:operation location="/GenerateLead" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadAndGetSalesRepCode">
      <http:operation location="/GenerateLeadAndGetSalesRepCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GenerateLead">
      <http:operation location="/GenerateLead" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadAndGetSalesRepCode">
      <http:operation location="/GenerateLeadAndGetSalesRepCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://38.101.226.208:85/KM_WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://38.101.226.208:85/KM_WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://38.101.226.208:85/KM_WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://38.101.226.208:85/KM_WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>