ECN/ecn.wizard/Web References/wzPushLeadsList/PushLeadsList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="setupGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setupGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setupGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pushLeadsToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="leadsListDS">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pushLeadsToGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pushLeadsToGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="setupGroupSoapIn">
    <wsdl:part name="parameters" element="tns:setupGroup" />
  </wsdl:message>
  <wsdl:message name="setupGroupSoapOut">
    <wsdl:part name="parameters" element="tns:setupGroupResponse" />
  </wsdl:message>
  <wsdl:message name="pushLeadsToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:pushLeadsToGroup" />
  </wsdl:message>
  <wsdl:message name="pushLeadsToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:pushLeadsToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="setupGroupHttpGetIn">
    <wsdl:part name="customerID" type="s:string" />
    <wsdl:part name="listName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setupGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="setupGroupHttpPostIn">
    <wsdl:part name="customerID" type="s:string" />
    <wsdl:part name="listName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setupGroupHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="PushLeadsListSoap">
    <wsdl:operation name="setupGroup">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Provides Access to SetUp Groups (LeadsList) in ECN for Customer.&lt;br&gt;- Parameters passed are CustomerID &amp; ListName.&lt;br&gt;- If the List does not exist it will Create a new Group for the List. &lt;br&gt;- Returns Integer GroupID value.</documentation>
      <wsdl:input message="tns:setupGroupSoapIn" />
      <wsdl:output message="tns:setupGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pushLeadsToGroup">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Provides Access to Push Email Profiles in to Groups (LeadsList) in ECN for Customer. &lt;br&gt;- Parameters passed are CustomerID, GroupID, LeadsDataSet&lt;br&gt;- If an Email Profile does not exist it will Create a new Email Profile in the Group. If it exists it will Update the Profile with the current Data.&lt;br&gt;- Returns Integer total number of records processed (# of records Inserted + Updated) GroupID value.</documentation>
      <wsdl:input message="tns:pushLeadsToGroupSoapIn" />
      <wsdl:output message="tns:pushLeadsToGroupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PushLeadsListHttpGet">
    <wsdl:operation name="setupGroup">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Provides Access to SetUp Groups (LeadsList) in ECN for Customer.&lt;br&gt;- Parameters passed are CustomerID &amp; ListName.&lt;br&gt;- If the List does not exist it will Create a new Group for the List. &lt;br&gt;- Returns Integer GroupID value.</documentation>
      <wsdl:input message="tns:setupGroupHttpGetIn" />
      <wsdl:output message="tns:setupGroupHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PushLeadsListHttpPost">
    <wsdl:operation name="setupGroup">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Provides Access to SetUp Groups (LeadsList) in ECN for Customer.&lt;br&gt;- Parameters passed are CustomerID &amp; ListName.&lt;br&gt;- If the List does not exist it will Create a new Group for the List. &lt;br&gt;- Returns Integer GroupID value.</documentation>
      <wsdl:input message="tns:setupGroupHttpPostIn" />
      <wsdl:output message="tns:setupGroupHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PushLeadsListSoap" type="tns:PushLeadsListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setupGroup">
      <soap:operation soapAction="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx/setupGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pushLeadsToGroup">
      <soap:operation soapAction="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx/pushLeadsToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PushLeadsListHttpGet" type="tns:PushLeadsListHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="setupGroup">
      <http:operation location="/setupGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PushLeadsListHttpPost" type="tns:PushLeadsListHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="setupGroup">
      <http:operation location="/setupGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushLeadsList">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Provides Access to Push Leads list to ECN.&lt;br&gt;* Use setupGroup() to setup the Lists Group in ECN. &lt;br&gt;* Use pushLeadsToGroup() to Push Email lists in to the group that's Created.</documentation>
    <wsdl:port name="PushLeadsListSoap" binding="tns:PushLeadsListSoap">
      <soap:address location="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx" />
    </wsdl:port>
    <wsdl:port name="PushLeadsListHttpGet" binding="tns:PushLeadsListHttpGet">
      <http:address location="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx" />
    </wsdl:port>
    <wsdl:port name="PushLeadsListHttpPost" binding="tns:PushLeadsListHttpPost">
      <http:address location="http://wizard.ecn5.com/webservice/KM/PushLeadsList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>