Jointforms/CanonESubscriptionForm/forms/Advertiser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xml">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Advertiser">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Category">
								<xs:complexType>
									<xs:attribute name="Value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:unsignedInt" use="required" />
						<xs:attribute name="Name" type="xs:string" use="required" />
						<xs:attribute name="Rank" type="xs:int" use="required" />
						<xs:attribute name="Fname" type="xs:string" use="required" />
						<xs:attribute name="Lname" type="xs:string" use="required" />
						<xs:attribute name="Email" type="xs:string" use="required" />
						<xs:attribute name="Phone" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>